body {
    font-family: 'Roboto', sans-serif;
    background-color: #222831; /* Dark mode background */
    color: #EEEEEE; /* Dark mode text */
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100vh;
    margin: 0;
}

.navbar {
    width: 100%;
    background-color: #222831; /* Dark mode background for navbar */
    display: flex;
    justify-content: flex-end; /* Align items to the right */
    padding: 10px 20px; /* Adjust padding as needed */
    box-sizing: border-box;
}

.theme-toggle-container {
    display: flex;
    align-items: center;
}

.theme-toggle {
    position: relative;
    display: inline-block;
    width: 60px;
    height: 34px;
}

.theme-toggle input {
    opacity: 0;
    width: 0;
    height: 0;
}

.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #76ABAE; /* Dark mode slider background */
    transition: 0.4s;
    border-radius: 34px;
}

.slider:before {
    position: absolute;
    content: "";
    height: 26px;
    width: 26px;
    left: 4px;
    bottom: 4px;
    background-color: #222831; /* Dark mode slider handle */
    transition: 0.4s;
    border-radius: 50%;
}

.emoji {
    position: absolute;
    top: 50%;
    left: 5px;
    transform: translateY(-56%);
    font-size: 15px;
    transition: transform 0.4s;
}

input:checked + .slider {
    background-color: #ffffff; /* Dark mode slider background when checked */
}

input:checked + .slider:before {
    transform: translateX(26px);
    background-color: #222831; /* Dark mode slider handle when checked */
}

input:checked + .slider + .emoji {
    transform: translate(28px, -56%);
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 20px; /* Adjust the gap between timer and container */
    width: 100%; /* Full width of the container */
    margin: auto; /* Adjust top margin as needed */
}

.main-content {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: #31363F; /* Dark mode card background */
    padding: 20px;
    border-radius: 10px;
    box-shadow: none;
    width: 400px; /* Half of the container */
    height: 250px;
    margin-top: -30px; /* Pushes content to the top */
}

.timer {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%; /* Full width of the main-content */
}

#timer-display {
    font-size: 70px;
    margin-bottom: 30px;
    margin-top: 0px;
    text-align: center; /* Center timer display */
    
}

.timer-buttons {
    display: flex;
    gap: 10px;
    justify-content: center; /* Center buttons horizontally */
}

.timer-buttons button {
    background-color: #76ABAE; /* Dark mode button background */
    color: #222831; /* Dark mode button text */
    border: none;
    width: 80px;
    height: 30px;
    cursor: pointer;
    border-radius: 5px;
    font-size: 16px;
    transition: background-color 0.3s;
    margin-bottom: 10px;
}

.timer-buttons button:hover {
    background-color: #EEEEEE; /* Dark mode button hover */
    color: #222831;
}

.light-mode {
    background-color: #B3C8CF; /* Light mode background */
    color: #222831; /* Light mode text */
}

.light-mode .main-content {
    background-color: #ffffff ; /* Light mode card background */
}

.light-mode .timer-buttons button {
    background-color: #BED7DC; /* Light mode button background */
    color: #222831; /* Light mode button text */
}

.light-mode .timer-buttons button:hover {
    background-color: #E5DDC5; /* Light mode button hover */
}
